---
import "@/styles/global.css";
import { cn } from "@/lib/utils";
import NavBarDock from "@/components/layout/NavBarDock";
import AnimatedCursor from "@/components/ui/AnimatedCursor";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viet Bui | Portfolio</title>
  </head>
  <body
    class={cn(
      "group/body overscroll-none antialiased bg-background text-foreground",
    )}
  >
    <AnimatedCursor client:load />
    <NavBarDock client:load />
    <main class="flex flex-1 flex-col pt-24">
      <slot />
    </main>
  </body>
</html>
